/**
 * 简单易用的网格布局插件
 * email: admin@xhou.net
 * author: houfeng(侯锋)
 */

.ui-grid {
    margin: 0px;
    padding: 0px;
    position: relative;
}
.ui-grid .ui-grid-item {
    list-style-type: none;
    display: inline-block;
    position: relative;
    overflow:hidden;
    float: left;
}